.unsplashButton {
  margin: 30px auto;
  text-align: center;
}

.unsplashLink {
  border: 2px solid #757575;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Bungee';
  display: inline-flex;
  vertical-align: middle;
}

.unsplashLink:hover {
  background: #757575;
  color: white;
}

.icon {
  margin-right: 5px;
}

.image {
  width: 100%;
}

a.image {
  width: 100%;
}

.listImage {
  width: 100%;
  margin-bottom: 20px;
  vertical-align: bottom;
}

.masonryGrid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.modalItem {
  margin: auto;
  max-height: 80vh;
  max-width: 100%;
}

.imgContener {
  text-align: center;
}

.modalImage {
  margin: 0 auto 0;
  max-height: 70vh;
  max-width: 100%;
}

@media (max-width: 700px) {
  .masonryGrid {
    display: block;
  }

  .listImage {
    width: 100%;
    margin-bottom: 20px;
    vertical-align: bottom;
  }
}
