.image {
  width: 100%;
}

.listImage {
  width: 95%;
  margin-bottom: 5%;
  vertical-align: bottom;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navbar {
  font-family: 'Bungee';
}

.desktopNav {
  margin: auto 0 auto auto;
  font-size: 17px;
}

.navItem {
  margin-left: 20px;
}

.unsplash {
  margin: 30px auto;
  text-align: center;
}

.unsplashLink {
  border: 2px solid #757575;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Bungee';
}

.unsplashLink:hover {
  background: #757575;
  color: white;
}

.modal {
  margin: 60px auto 0;
  background: rgb(255, 255, 255);
  outline: none;
  padding: 20px;
  width: 60%;
  max-height: 100%;
  border: 1px solid rgb(204, 204, 204);
}

.modalItem {
  margin: auto;
  max-height: 80vh;
  max-width: 100%;
}

.imgContener {
  text-align: center;
}

.modalImage {
  margin: 0 auto 0;
  max-height: 70vh;
  max-width: 100%;
}

.masonryGrid {
  display: flex;
}

.toggle,
.mobileNav {
  display: none;
}

.itemHeader {
  margin-bottom: 10px;
}

.itemTitle {
  margin: 0;
}

.date {
  color: #8e8e8e;
}

.footer {
  margin: 30px auto 30px;
  text-align: center;
  font-family: 'Bungee';
  color: #757575;
}

@media (max-width: 700px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
  }

  .masonryGrid {
    display: block;
  }

  .listImage {
    width: 100%;
    margin-bottom: 20px;
    vertical-align: bottom;
  }

  .navItem {
    margin: auto auto 5px;
  }

  .desktopNav {
    display: none;
  }

  .toggle {
    display: block;
    margin: auto 0 auto auto;
  }

  .mobileNav.active {
    width: 100%;
    display: flex;
    font-size: 20px;
    margin-bottom: 40px;
    flex-direction: column;
  }
}
